<div class="divCard" *ngIf="formulario">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h3>Cadastro de Categorias</h3></mat-card-title>
        </mat-card-header>
        <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">

            <div class="cardErros" *ngIf = "erros.length > 0" >
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Algo deu errado ;(</mat-card-title>
                    </mat-card-header>
                    <mat-card-divider></mat-card-divider>
                    <mat-card-content>
                        <div class="divErros">
                            <h4 class="textoErros" *ngFor="let erro of erros">
                                {{ erro }}
                            </h4>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>Nome:</mat-label>
                        <input type="text" matInput formControlName="nome" placeholder="Digite o nome da categoria" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Ícone:</mat-label>
                        <input type="text" matInput formControlName="icone" placeholder="Digite o código do ícone" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Selecione o tipo adequado</mat-label>
                            <mat-select formControlName="tipoID">
                                <mat-option *ngFor="let tipo of tipos" [value]="tipo.tipoID">{{ tipo.nome }}</mat-option>
                            </mat-select>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <div>
                    <button type="submit" mat-stroked-button color="primary">Salvar</button>
                    <button mat-stroked-button color="primary" type="button" (click)="voltarListagem()">Voltar</button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
